# Linear Regression with Python

In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets

In [6]:
from faker import Factory,Faker

In [12]:
fake = Faker()
fake.seed(101)

In [13]:

fake.company()

'Boone, Allen and Jones'

In [15]:
fake.address()

'3167 Camacho Run Suite 466\nSouth Randy, SC 07381-5055'

In [41]:
print(fake.credit_card_full().split('\n'))

['Voyager', 'Katelyn Middleton', '869983872352072 06/24', 'CVC: 347', '']

In [139]:
X,y = datasets.make_regression( n_samples=500,n_features=4,n_informative=3,noise=0.05)
X = pd.DataFrame(X)
y = pd.DataFrame(y)
df = pd.concat([X,y],axis=1)
df.columns = ['Avg. Session Length','Time on App','Time on Website','Length of Membership','Yearly Amount Spent']
df.head()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,-1.639417,-0.166782,0.653554,0.598699,-100.149879
1,-0.912935,1.363242,0.199857,0.605438,-12.558437
2,0.366531,1.299596,-1.360603,0.281983,2.716808
3,-0.448762,-1.100688,0.729239,0.846464,-35.719318
4,1.223808,-0.480197,0.735689,1.101931,118.552617

In [140]:
df.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,-0.046813,-0.099204,0.013050,0.037323,-6.538091
std,0.944506,1.001552,1.030767,0.976185,101.726042
min,-2.848196,-2.828438,-4.344189,-3.134696,-345.431534
25%,-0.650688,-0.777960,-0.666791,-0.558392,-68.609159
50%,-0.004870,-0.135426,0.007370,0.083412,-6.731345
75%,0.558983,0.562312,0.757529,0.685769,65.526641
max,3.078020,2.788462,2.659811,2.475761,290.287872

In [141]:
plus = [33,12,37,3.6,500]
for i,col in enumerate(df.columns):
    df[col] = df[col].apply(lambda x: x+plus[i])

In [142]:
df.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,32.953187,11.900796,37.013050,3.637323,493.461909
std,0.944506,1.001552,1.030767,0.976185,101.726042
min,30.151804,9.171562,32.655811,0.465304,154.568466
25%,32.349312,11.222040,36.333209,3.041608,431.390841
50%,32.995130,11.864574,37.007370,3.683412,493.268655
75%,33.558983,12.562312,37.757529,4.285769,565.526641
max,36.078020,14.788462,39.659811,6.075761,790.287872

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,1.246398,-0.967416,1.066161,-1.070783,-29.556312
1,-0.368018,-0.725080,-0.334043,0.213916,-23.393102
2,2.296694,-0.254190,2.238661,0.591325,194.693310
3,0.080587,-1.191134,-0.092924,0.620104,13.805463
4,0.821842,0.989061,-1.758310,0.327034,-73.292479

In [90]:
df.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.028146,0.016448,0.067521,0.007300,5.597086
std,1.019006,0.986040,0.983779,1.013928,107.495901
min,-3.521193,-3.184312,-3.116739,-3.447994,-315.820850
25%,-0.686689,-0.712078,-0.599560,-0.670968,-62.493074
50%,0.019479,0.041474,0.052260,0.029528,6.808396
75%,0.701334,0.731358,0.667047,0.699976,75.192865
max,3.139514,2.499365,2.739165,3.106218,313.427558

In [143]:
df['Email'] = df['Time on App'].apply(lambda x : fake.email())
df['Address'] = df['Email'].apply(lambda x : fake.address())
df['Avatar'] = df['Email'].apply(lambda x : fake.color_name())

In [145]:
customers = df[['Email', 'Address','Avatar','Avg. Session Length', 'Time on App', 'Time on Website',
       'Length of Membership', 'Yearly Amount Spent']]

In [146]:
customers.to_csv('Ecommerce Customers',index=False)

In [132]:
df['Avg. Session Length'] = df['Avg. Session Length'].apply(lambda x : x+randint(0,100)*0.1)

In [121]:
from random import randint

In [131]:
randint(0,100)*0.1

10.0