# Linear Regression with Python

In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets

In [6]:
from faker import Factory,Faker

In [12]:
fake = Faker()
fake.seed(101)

In [13]:

fake.company()

'Boone, Allen and Jones'

In [15]:
fake.address()

'3167 Camacho Run Suite 466\nSouth Randy, SC 07381-5055'

In [41]:
print(fake.credit_card_full().split('\n'))

['Voyager', 'Katelyn Middleton', '869983872352072 06/24', 'CVC: 347', '']

In [74]:
X,y = datasets.make_regression(n_samples=500,n_features=4,n_informative=4)

In [75]:
X = pd.DataFrame(X)

In [76]:
y = pd.DataFrame(y)

In [77]:
df = pd.concat([X,y],axis=1)

In [82]:
df.columns = ['Avg. Session Length','Time on App','Time on Website','Length of Membership','Yearly Amount Spent']

In [84]:
df.head()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,1.246398,-0.967416,1.066161,-1.070783,-29.556312
1,-0.368018,-0.725080,-0.334043,0.213916,-23.393102
2,2.296694,-0.254190,2.238661,0.591325,194.693310
3,0.080587,-1.191134,-0.092924,0.620104,13.805463
4,0.821842,0.989061,-1.758310,0.327034,-73.292479

In [90]:
df.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.028146,0.016448,0.067521,0.007300,5.597086
std,1.019006,0.986040,0.983779,1.013928,107.495901
min,-3.521193,-3.184312,-3.116739,-3.447994,-315.820850
25%,-0.686689,-0.712078,-0.599560,-0.670968,-62.493074
50%,0.019479,0.041474,0.052260,0.029528,6.808396
75%,0.701334,0.731358,0.667047,0.699976,75.192865
max,3.139514,2.499365,2.739165,3.106218,313.427558

In [96]:
plus = [33,12,37,3.6,500]
for i,col in enumerate(df.columns):
    df[col] = df[col].apply(lambda x: x+plus[i])

In [99]:
df['Email'] = df['Time on App']

In [100]:
df['Email'] = df['Email'].apply(lambda x : fake.email())

In [101]:
df.head()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent,Email
0,34.246398,11.032584,38.066161,2.529217,470.443688,johnsonsandra@hotmail.com
1,32.631982,11.274920,36.665957,3.813916,476.606898,randall15@campbell-russell.com
2,35.296694,11.745810,39.238661,4.191325,694.693310,ochavez@roth-taylor.net
3,33.080587,10.808866,36.907076,4.220104,513.805463,stevenhanson@collins.org
4,33.821842,12.989061,35.241690,3.927034,426.707521,adamreynolds@robinson.biz

In [88]:
df.columns

Index(['Avg. Session Length', 'Time on App', 'Time on Website',
       'Length of Membership', 'Yearly Amount Spent'],
      dtype='object')

In [ ]:
df.