___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [2]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn

In [5]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [7]:
df

          W         X         Y         Z
A -0.324086  1.040333 -0.078821  2.073301
B  0.135907 -0.557726  0.976165  0.049969
C  1.341899 -0.142878  0.239249  0.580262
D -1.573038  0.848236 -1.500984  0.352841
E -1.738321  0.507527 -1.226375  1.739745

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [19]:
df['W']

A   -0.324086
B    0.135907
C    1.341899
D   -1.573038
E   -1.738321
Name: W, dtype: float64

In [20]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A -0.324086  2.073301
B  0.135907  0.049969
C  1.341899  0.580262
D -1.573038  0.352841
E -1.738321  1.739745

In [10]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A   -0.324086
B    0.135907
C    1.341899
D   -1.573038
E   -1.738321
Name: W, dtype: float64

DataFrame Columns are just Series

In [11]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [12]:
df['new'] = df['W'] + df['Y']

In [13]:
df

          W         X         Y         Z       new
A -0.324086  1.040333 -0.078821  2.073301 -0.402908
B  0.135907 -0.557726  0.976165  0.049969  1.112073
C  1.341899 -0.142878  0.239249  0.580262  1.581148
D -1.573038  0.848236 -1.500984  0.352841 -3.074022
E -1.738321  0.507527 -1.226375  1.739745 -2.964696

** Removing Columns**

In [14]:
df.drop('new',axis=1)

          W         X         Y         Z
A -0.324086  1.040333 -0.078821  2.073301
B  0.135907 -0.557726  0.976165  0.049969
C  1.341899 -0.142878  0.239249  0.580262
D -1.573038  0.848236 -1.500984  0.352841
E -1.738321  0.507527 -1.226375  1.739745

In [15]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A -0.324086  1.040333 -0.078821  2.073301 -0.402908
B  0.135907 -0.557726  0.976165  0.049969  1.112073
C  1.341899 -0.142878  0.239249  0.580262  1.581148
D -1.573038  0.848236 -1.500984  0.352841 -3.074022
E -1.738321  0.507527 -1.226375  1.739745 -2.964696

In [16]:
df.drop('new',axis=1,inplace=True)

In [17]:
df

          W         X         Y         Z
A -0.324086  1.040333 -0.078821  2.073301
B  0.135907 -0.557726  0.976165  0.049969
C  1.341899 -0.142878  0.239249  0.580262
D -1.573038  0.848236 -1.500984  0.352841
E -1.738321  0.507527 -1.226375  1.739745

Can also drop rows this way:

In [18]:
df.drop('E',axis=0)

          W         X         Y         Z
A -0.324086  1.040333 -0.078821  2.073301
B  0.135907 -0.557726  0.976165  0.049969
C  1.341899 -0.142878  0.239249  0.580262
D -1.573038  0.848236 -1.500984  0.352841

** Selecting Rows**

In [21]:
df.loc['A']

W   -0.324086
X    1.040333
Y   -0.078821
Z    2.073301
Name: A, dtype: float64

Or select based off of position instead of label

In [22]:
df.iloc[2]

W    1.341899
X   -0.142878
Y    0.239249
Z    0.580262
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [25]:
df.loc['B','Y']

0.97616532675780299

In [24]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.324086 -0.078821
B  0.135907  0.976165

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [33]:
df

          W         X         Y         Z
A -0.324086  1.040333 -0.078821  2.073301
B  0.135907 -0.557726  0.976165  0.049969
C  1.341899 -0.142878  0.239249  0.580262
D -1.573038  0.848236 -1.500984  0.352841
E -1.738321  0.507527 -1.226375  1.739745

In [34]:
df>0

       W      X      Y     Z
A  False   True  False  True
B   True  False   True  True
C   True  False   True  True
D  False   True  False  True
E  False   True  False  True

In [28]:
df[df>0]

          W         X         Y         Z
A       NaN  1.040333       NaN  2.073301
B  0.135907       NaN  0.976165  0.049969
C  1.341899       NaN  0.239249  0.580262
D       NaN  0.848236       NaN  0.352841
E       NaN  0.507527       NaN  1.739745

In [29]:
df[df['W']>0]

          W         X         Y         Z
B  0.135907 -0.557726  0.976165  0.049969
C  1.341899 -0.142878  0.239249  0.580262

In [30]:
df[df['W']>0]['Y']

B    0.976165
C    0.239249
Name: Y, dtype: float64

In [32]:
df[df['W']>0][['Y','X']]

          Y         X
B  0.976165 -0.557726
C  0.239249 -0.142878

For two conditions you can use | and & with parenthesis:

In [37]:
df[(df['W']>0) & (df['Y'] > 0.5)]

          W         X         Y         Z
B  0.135907 -0.557726  0.976165  0.049969

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [43]:
df

          W         X         Y         Z
A -0.324086  1.040333 -0.078821  2.073301
B  0.135907 -0.557726  0.976165  0.049969
C  1.341899 -0.142878  0.239249  0.580262
D -1.573038  0.848236 -1.500984  0.352841
E -1.738321  0.507527 -1.226375  1.739745

In [44]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A -0.324086  1.040333 -0.078821  2.073301
1     B  0.135907 -0.557726  0.976165  0.049969
2     C  1.341899 -0.142878  0.239249  0.580262
3     D -1.573038  0.848236 -1.500984  0.352841
4     E -1.738321  0.507527 -1.226375  1.739745

In [45]:
newind = 'CA NY WY OR CO'.split()
df.reset_index(['index',newind])

  index         W         X         Y         Z
0     A -0.324086  1.040333 -0.078821  2.073301
1     B  0.135907 -0.557726  0.976165  0.049969
2     C  1.341899 -0.142878  0.239249  0.580262
3     D -1.573038  0.848236 -1.500984  0.352841
4     E -1.738321  0.507527 -1.226375  1.739745